<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music App</title>
    </head>
    <body>
        <h1>The King of Pop</h1>
        <img src="mjj.jpeg" width="200" height="200">
        <p>The King of Pop, Michael Joseph Jackson, was born on August 29, 1958.
            He had a larger-than-life career and life, and he left an unquestionable mark on the culture and the world.
            MJ released 10 studio albums, 3 soundtrack albums, 1 live album, 39 compliation albums, 10 video albums, 
            and 8 remix albums. Since his death, 2 albums were posthumously released. 
        <p>
    </body>
</html>